.size_label {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  background-color: rgb(213, 209, 209);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.size_label:hover {
  background-color: black;
  color: white;
}
.size_label span {
  font-size: 1.6rem;
  font-weight: bold;
}
.activeSize {
  background-color: black;
  color: white;
}
