.user_container {
  position: relative;
}
.hide_ul_container {
  max-height: 40rem;
  width: 20rem;

  position: absolute;
  top: 100%;
  right: -250%;
  padding: 2rem 0;
  z-index: 111;
  /* Hide navigation */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.4s;
}
.user_container:hover .hide_ul_container {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.enable_hide_ul_container {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.ul {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  /* gap: 1rem; */
}
.ul li {
  list-style: none;
  transition: all 0.3s;
}
.ul li:hover {
  background-color: #66d9e8;
  border-radius: 20px;
}
.ul a:link,
.ul a:visited {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}
/* 1300 */
@media (max-width: 81.25em) {
  .hide_ul_container {
    right: 0;
  }
}
/* 1200 */
@media (max-width: 75em) {
  .disable_hide_ul_container {
    opacity: 0 !important;
    pointer-events: none !important;
    visibility: hidden !important;
  }
}
/* 600 */
@media (max-width: 37.5em) {
  .hide_ul_container {
    right: 0%;
  }
}
/* 474 */
@media (max-width: 30em) {
  .ul a {
    font-size: 1.2rem;
  }
}
