.main{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
    width: 100%;
    height: 35rem;
    overflow-y:scroll;
    text-align: left;
    padding: 2% 2%;
}
.table{
    width: 100%;
    /* height: 100%; */
}
.main th{
    background-color: aqua;
    margin: 1px 1px;
    padding: 0 5px;
    height: 3rem;
}

.titles_title{
    width: 20%;
}
.titles_material{
    width: 10%;
}
.titles_size{
    width: 10%;
}
.titles_price{
    width: 10%;
}
.titles_decription{
    width: 30%;
}
.titles_action{
    width: 20%;
}